# В случае чего,
# вместо .dockerignore или .containerignore
# линковать на этот файл.

# Общее
.env
*.zip

# Зависимости PHP
vendor
composer.lock

# Terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform/
*.tfplan
terraform.tfvars
*.tfvars
*.tfvars.json
